<h2>Products</h2>

<div *ngFor="let product of products">
  <h3>
      <a [title]="product.name + ' details'">
        {{ product.name }}
      </a>
  </h3>
  <p *ngIf="product.description">
    Description: {{ product.description }}
  </p>
  <button (click)="share()">
    Share
  </button>

  <!-- To include the new component, use its selector, app-product-alert, as you would an HTML element. -->
  <!-- Pass the current product as input to the component using property binding. Similar to passing props in React. -->
  <!-- Bind the onNotify() method in product-list.component.ts to the notify property outputted (passed) to ProductAlertsComponent. -->
  <app-product-alerts 
    [product]='product'
    (notify)="onNotify()">
  </app-product-alerts>

</div>


<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->